#c0 {
    position: absolute;
    top: 5vh;
    left: 20vw;
    cursor: pointer;
}
#c1 {
    position: absolute;
    top: 55vh;
    left: 20vw;
    cursor: pointer;
}
#c2 {
    position: absolute;
    top: 5vh;
    left: 36vw;
    cursor: pointer;
}
#c3 {
    position: absolute;
    top: 55vh;
    left: 36vw;
    cursor: pointer;
}
#c4 {
    position: absolute;
    top: 5vh;
    left: 52vw;
    cursor: pointer;
}
#c5 {
    position: absolute;
    top:55vh;
    left: 52vw;
    cursor: pointer;
}
#c6 {
    position: absolute;
    top: 30vh;
    left: 68vw;
    cursor: pointer;
}

#i0 {
    position: absolute;
    top: 0vh;
    left: 16vw;
    display: none;
}
#i1 {
    position: absolute;
    top: 0vh;
    left: 16vw;
    display: none;
}
#i2 {
    position: absolute;
    top: 50vh;
    left: -8vw;
    display: none;
}
#i3 {
    position: absolute;
    top: -50vh;
    left: -8vw;
    display: none;
}
#i4 {
    position: absolute;
    top: 0vh;
    left: -32vw;
    display: none;
}
#i5 {
    position: absolute;
    top: 0vh;
    left: -32vw;
    display: none;
}
#i6 {
    position: absolute;
    top: 0vh;
    left: -40vw;
    display: none;
}

#c0:hover #i0{
    display: inline;
}
#c1:hover #i1{
    display: inline;
}
#c2:hover #i2{
    display: inline;
}
#c3:hover #i3{
    display: inline;
}
#c4:hover #i4{
    display: inline;
}
#c5:hover #i5{
    display: inline;
}
#c6:hover #i6{
    display: inline;
}

#f0 {
    opacity: 0;
}
#f1 {
    opacity: 0;
}
#f2 {
    opacity: 0;
}
#f3 {
    opacity: 0;
}
#f4 {
    opacity: 0;
}
#f5 {
    opacity: 0;
}
#f6 {
    opacity: 0;
}

#c0:hover #f0{
    opacity: 1;
}
#c1:hover #f1{
    opacity: 1;
}
#c2:hover #f2{
    opacity: 1;
}
#c3:hover #f3{
    opacity: 1;
}
#c4:hover #f4{
    opacity: 1;
}
#c5:hover #f5{
    opacity: 1;
}
#c6:hover #f6{
    opacity: 1;
}